<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
	<variable name="logDirectory" value="${basedir}/Logs/"/>
	<variable name="consoleLayout" value="${longdate} | ${level} | ${message}"/>
	<variable name="fileLayout" value="${longdate} | ${level} | ${message}"/>
	<targets>
		<target name="console" xsi:type="Console" layout="${message}" />
		<target name="file" xsi:type="File" fileName="${logDirectory}/${date:format=yyyy-MM-dd}.txt" />
	</targets>
	<rules>
		<logger name="*" minlevel="Trace" writeTo="console" />
		<logger name="*" minlevel="Trace" writeTo="file" />
	</rules>
</nlog>